.taskItemContainer {
  display: flex;
  flex-direction: space-between;
  border-radius: 8px;
  padding: 1rem;
  font-size: 1rem;
  margin-bottom: 0.75rem;

  background: var(--gray-400);
}

.taskItemLeft {
  display: flex;
  flex: 1;
  align-items: center;
}

.taskItemCheckboxContainer input {
  display: none;
}

.taskItemCheckboxContainer input + label::after {
  box-sizing: border-box;
  content: "";
  display: block;
  width: 1.09rem;
  height: 1.09rem;
  border-radius: 0.7rem;
  border: 2px solid var(--purple-dark);
  transition: 0.1s ease-in-out background-color;
}

.taskItemCheckboxContainer input:hover + label::after {
  background: var(--blue-dark);
}

.taskItemCheckboxContainer input:checked + label::after {
  background-color: var(--purple-dark);
  border-color: var(--purple-dark);
  background-position: center center;
  background-repeat: no-repeat;
  background-position: center center;
  transition: 0.1s ease-in-out background-color;
  background-image: url("data:image/svg+xml,%3Csvg width='10'   height='7' viewBox='0 0 10 7' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.43059 0.342154L4.09865 4.67409L1.61618 2.19162L0.780273 3.02753L4.09865 6.3459L9.26649 1.17806L8.43059 0.342154Z' fill='%23F2F2F2'/%3E%3C/svg%3E ");
}

.taskItemLeftSpan {
  font-size: 0.7rem;
  margin-left: 1rem;
  color: var(--gray-100);
}

.taskItemLeftSpanUnderlined {
  font-size: 0.7rem;
  margin-left: 1rem;
  text-decoration: line-through;
  color: var(--gray-300);
}

.taskItemLeft svg {
  color: var(--gray-300);
}

.taskItemRight {
  display: flex;
  align-items: center;
  width: 1.5rem;
  height: 1.5rem;
  margin-left: 0.75rem;
  cursor: pointer;
  color: var(--gray-300);
}

.taskItemRight:hover {
  color: var(--red-500);
  background: var(--gray-400);
}